# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # Specify the version you desire here
      - image: circleci/php:7.2-node-browsers-legacy
        environment:
          - MYSQL_USER=root
          - MYSQL_PASSWORD=
          - MYSQL_ALLOW_EMPTY_PASSWORD=true
          - MYSQL_DATABASE=circle_test

    # Specify service dependencies here if necessary
    # CircleCI maintains a library of pre-built images
    # documented at https://circleci.com/docs/2.0/circleci-images/
    # Using the RAM variation mitigates I/O contention
    # for database intensive operations.
    # - image: circleci/mysql:5.7-ram
    #
    # - image: redis:2.8.19

    working_directory: ~/e-DoseCerta

    steps:
      - checkout
      - run: sudo apt update && sudo apt install -y libsqlite3-dev zlib1g-dev
      - run: sudo docker-php-ext-install pdo_mysql
      - run: composer install -n --prefer-dist

      # run tests!
      - run:
          name: Run Unit tests
          command: vendor/bin/phpunit
